@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../../../assets/fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../../../assets/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../../../assets/fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url("../../../assets/fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../../../assets/fonts/Roboto-Black.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif; }

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 10px;
  height: 6px; }

*::-webkit-scrollbar-track {
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent; }

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf; }

.product-info {
  padding-top: 10px; }
  .product-info > h2.name {
    font-size: 24px;
    font-weight: 500; }
  .product-info .product-introduce {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 9fr 4fr;
    grid-template-rows: auto 120px;
    gap: 12px 20px; }
    .product-info .product-introduce .image-slide {
      grid-row: 1/2;
      background-color: #eee;
      border-radius: 10px;
      position: relative;
      overflow: hidden; }
      .product-info .product-introduce .image-slide::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: calc((100% / 2)); }
      .product-info .product-introduce .image-slide .next-button,
      .product-info .product-introduce .image-slide .prev-button {
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        border: none;
        background-color: rgba(0, 0, 0, 0.05);
        transition: all ease 300ms;
        z-index: 1; }
        .product-info .product-introduce .image-slide .next-button:hover,
        .product-info .product-introduce .image-slide .prev-button:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.3); }
        .product-info .product-introduce .image-slide .next-button i,
        .product-info .product-introduce .image-slide .prev-button i {
          font-size: 24px;
          color: #ffffff; }
      .product-info .product-introduce .image-slide .next-button {
        right: 0; }
      .product-info .product-introduce .image-slide .prev-button {
        left: 0; }
      .product-info .product-introduce .image-slide__list {
        list-style-type: none;
        display: flex;
        transition: all ease 500ms;
        z-index: 0;
        position: absolute;
        inset: 10px; }
        .product-info .product-introduce .image-slide__list li {
          width: 100%;
          height: 100%;
          flex-shrink: 0; }
          .product-info .product-introduce .image-slide__list li img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center; }
    .product-info .product-introduce .image-slide-preview {
      list-style: none;
      display: flex;
      flex-wrap: nowrap;
      column-gap: 15px;
      overflow-x: auto;
      padding-block: 8px;
      padding-right: 40%; }
      .product-info .product-introduce .image-slide-preview > li {
        height: 100%;
        aspect-ratio: 2/1;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        border: 2px solid #eee;
        flex-shrink: 0;
        transition: box-shadow ease 300ms; }
        .product-info .product-introduce .image-slide-preview > li.active {
          border-color: #0099ff; }
        .product-info .product-introduce .image-slide-preview > li:hover {
          cursor: pointer;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
        .product-info .product-introduce .image-slide-preview > li img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center; }
    .product-info .product-introduce .cost-detail-box {
      grid-row: 1/3;
      border-radius: 20px;
      border: 1px solid #ccc;
      overflow: hidden; }
      .product-info .product-introduce .cost-detail-box .box__header {
        background-color: #0099ff;
        padding: 24px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600; }
