@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../../../assets/fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../../../assets/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../../../assets/fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url("../../../assets/fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../../../assets/fonts/Roboto-Black.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif; }

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 10px;
  height: 6px; }

*::-webkit-scrollbar-track {
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent; }

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf; }

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* custom scrollbar */ }
  .header-wrapper .header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 1200px;
    max-width: 100vw;
    height: 90px;
    /* custom scrollbar */
    /* custom scrollbar */
    /* custom scrollbar */ }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 300;
    src: url("../../../assets/fonts/Roboto-Thin.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 400;
    src: url("../../../assets/fonts/Roboto-Regular.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 500;
    src: url("../../../assets/fonts/Roboto-Medium.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 700;
    src: url("../../../assets/fonts/Roboto-Bold.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 900;
    src: url("../../../assets/fonts/Roboto-Black.ttf"); } }
    .header-wrapper .header-container * {
      padding: 0;
      margin: 0;
      box-sizing: border-box; }
    .header-wrapper .header-container body {
      font-family: Roboto, sans-serif; }
    .header-wrapper .header-container *::-webkit-scrollbar {
      width: 10px;
      height: 6px; }
    .header-wrapper .header-container *::-webkit-scrollbar-track {
      background-color: transparent; }
    .header-wrapper .header-container *::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent; }
    .header-wrapper .header-container *::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf; }
    .header-wrapper .header-container .logo-container {
      width: 200px;
      text-align: center;
      letter-spacing: -1px;
      font-size: 24px;
      font-weight: 900;
      background: -webkit-linear-gradient(180deg, #006bb3, #0099ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 300;
    src: url("../../../assets/fonts/Roboto-Thin.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 400;
    src: url("../../../assets/fonts/Roboto-Regular.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 500;
    src: url("../../../assets/fonts/Roboto-Medium.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 700;
    src: url("../../../assets/fonts/Roboto-Bold.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 900;
    src: url("../../../assets/fonts/Roboto-Black.ttf"); } }
    .header-wrapper .header-container * {
      padding: 0;
      margin: 0;
      box-sizing: border-box; }
    .header-wrapper .header-container body {
      font-family: Roboto, sans-serif; }
    .header-wrapper .header-container *::-webkit-scrollbar {
      width: 10px;
      height: 6px; }
    .header-wrapper .header-container *::-webkit-scrollbar-track {
      background-color: transparent; }
    .header-wrapper .header-container *::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent; }
    .header-wrapper .header-container *::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf; }
    .header-wrapper .header-container .center-slide {
      flex: 1;
      align-self: flex-start;
      /* custom scrollbar */ }
      .header-wrapper .header-container .center-slide .search-bar {
        margin-top: 10px; }
        .header-wrapper .header-container .center-slide .search-bar .input-ctn {
          position: relative; }
          .header-wrapper .header-container .center-slide .search-bar .input-ctn input {
            width: 100%;
            height: 40px;
            font-size: 14px;
            border-radius: 6px;
            border: 2px solid #ddd;
            padding-inline: 10px;
            outline: none;
            transition: border ease 300ms; }
            .header-wrapper .header-container .center-slide .search-bar .input-ctn input:focus {
              border-color: #0099ff; }
              .header-wrapper .header-container .center-slide .search-bar .input-ctn input:focus ~ .search-box {
                max-height: 1000px;
                opacity: 1; }
          .header-wrapper .header-container .center-slide .search-bar .input-ctn .submit-button {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-color: transparent;
            border: none; }
            .header-wrapper .header-container .center-slide .search-bar .input-ctn .submit-button .search-icon {
              font-size: 12px;
              color: #555; }
          .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box {
            max-height: 0;
            width: 100%;
            background-color: #ffffff;
            border-radius: 6px;
            position: absolute;
            top: calc(100% + 10px);
            transition: all ease 500ms;
            opacity: 0;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            overflow: hidden; }
            .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products,
            .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products {
              margin-bottom: 10px; }
              .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products > span,
              .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products > span {
                padding: 15px;
                display: block; }
              .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products ul,
              .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
                padding-inline: 20px;
                list-style-type: none; }
                .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products ul li,
                .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products ul li {
                  width: calc(20% - 8px); }
                  .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products ul li a,
                  .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products ul li a {
                    height: 124px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    color: unset;
                    padding: 8px;
                    transition: all ease 300ms;
                    border-radius: 8px; }
                    .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products ul li a:hover,
                    .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products ul li a:hover {
                      cursor: pointer;
                      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
                    .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products ul li a img,
                    .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products ul li a img {
                      height: 70px;
                      object-fit: contain; }
                    .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .search-products ul li a h4,
                    .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .viewed-products ul li a h4 {
                      margin-top: 10px;
                      text-align: center;
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 1;
                      overflow: hidden;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      /* number of lines to show */
                      -webkit-box-orient: vertical; }
            .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history .label-ctn {
              padding: 10px 20px;
              color: #ffffff;
              font-size: 13px;
              background-color: #0099ff; }
              .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history .label-ctn i {
                padding-right: 4px; }
            .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history ul {
              padding-block: 5px;
              cursor: pointer; }
              .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history ul li {
                font-size: 15px;
                font-family: Roboto;
                line-height: 30px;
                display: block;
                padding: 3px 20px; }
                .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history ul li > a {
                  color: unset;
                  text-decoration: none; }
                .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history ul li:hover {
                  background-color: #eee; }
                .header-wrapper .header-container .center-slide .search-bar .input-ctn .search-box .history ul li p {
                  padding-left: 10px; }

@font-face {
  .header-wrapper .header-container .center-slide {
    font-family: Roboto;
    font-weight: 300;
    src: url("../../../assets/fonts/Roboto-Thin.ttf"); } }

@font-face {
  .header-wrapper .header-container .center-slide {
    font-family: Roboto;
    font-weight: 400;
    src: url("../../../assets/fonts/Roboto-Regular.ttf"); } }

@font-face {
  .header-wrapper .header-container .center-slide {
    font-family: Roboto;
    font-weight: 500;
    src: url("../../../assets/fonts/Roboto-Medium.ttf"); } }

@font-face {
  .header-wrapper .header-container .center-slide {
    font-family: Roboto;
    font-weight: 700;
    src: url("../../../assets/fonts/Roboto-Bold.ttf"); } }

@font-face {
  .header-wrapper .header-container .center-slide {
    font-family: Roboto;
    font-weight: 900;
    src: url("../../../assets/fonts/Roboto-Black.ttf"); } }
      .header-wrapper .header-container .center-slide * {
        padding: 0;
        margin: 0;
        box-sizing: border-box; }
      .header-wrapper .header-container .center-slide body {
        font-family: Roboto, sans-serif; }
      .header-wrapper .header-container .center-slide *::-webkit-scrollbar {
        width: 10px;
        height: 6px; }
      .header-wrapper .header-container .center-slide *::-webkit-scrollbar-track {
        background-color: transparent; }
      .header-wrapper .header-container .center-slide *::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent; }
      .header-wrapper .header-container .center-slide *::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf; }
      .header-wrapper .header-container .center-slide .category-ctn {
        height: 40px; }
        .header-wrapper .header-container .center-slide .category-ctn .category-list {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style-type: none; }
          .header-wrapper .header-container .center-slide .category-ctn .category-list .item:hover a {
            color: #333; }
          .header-wrapper .header-container .center-slide .category-ctn .category-list .item a {
            color: #006bb3;
            font-size: 14px;
            text-decoration: none;
            transition: all ease 300ms; }
            .header-wrapper .header-container .center-slide .category-ctn .category-list .item a span {
              margin-left: 6px; }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 300;
    src: url("../../../assets/fonts/Roboto-Thin.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 400;
    src: url("../../../assets/fonts/Roboto-Regular.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 500;
    src: url("../../../assets/fonts/Roboto-Medium.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 700;
    src: url("../../../assets/fonts/Roboto-Bold.ttf"); } }

@font-face {
  .header-wrapper .header-container {
    font-family: Roboto;
    font-weight: 900;
    src: url("../../../assets/fonts/Roboto-Black.ttf"); } }
    .header-wrapper .header-container * {
      padding: 0;
      margin: 0;
      box-sizing: border-box; }
    .header-wrapper .header-container body {
      font-family: Roboto, sans-serif; }
    .header-wrapper .header-container *::-webkit-scrollbar {
      width: 10px;
      height: 6px; }
    .header-wrapper .header-container *::-webkit-scrollbar-track {
      background-color: transparent; }
    .header-wrapper .header-container *::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent; }
    .header-wrapper .header-container *::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf; }
    .header-wrapper .header-container .user-profile .login-button {
      width: 150px;
      height: 40px;
      border-radius: 10px;
      margin-inline: auto;
      display: block;
      border: 2px solid #0099ff;
      background-color: #0099ff;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      transition: all ease 300ms;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; }
      .header-wrapper .header-container .user-profile .login-button:hover {
        cursor: pointer;
        background-color: #ffffff;
        color: #0099ff; }
    .header-wrapper .header-container .user-profile .user-info {
      width: 200px;
      height: 60px;
      border: none;
      border-radius: 10px;
      background-color: #eee;
      padding: 6px;
      transition: all ease 300ms;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-left: 30px;
      position: relative; }
      .header-wrapper .header-container .user-profile .user-info:hover {
        cursor: pointer;
        background-color: #ddd; }
        .header-wrapper .header-container .user-profile .user-info:hover .box {
          pointer-events: unset;
          opacity: 1;
          transform: translateY(0); }
      .header-wrapper .header-container .user-profile .user-info .info {
        text-align: right; }
        .header-wrapper .header-container .user-profile .user-info .info .name {
          font-size: 14px; }
        .header-wrapper .header-container .user-profile .user-info .info .cart {
          padding: 3px 6px;
          border-radius: 10px;
          background-color: #0099ff;
          color: #ffffff;
          font-size: 13px; }
      .header-wrapper .header-container .user-profile .user-info > img {
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        overflow: hidden; }
      .header-wrapper .header-container .user-profile .user-info .box {
        width: 250px;
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all ease 350ms; }
        .header-wrapper .header-container .user-profile .user-info .box::before {
          content: "";
          height: 10px;
          width: 100%;
          display: block;
          position: absolute;
          top: -10px;
          left: 0; }
        .header-wrapper .header-container .user-profile .user-info .box > * {
          border-radius: inherit; }
        .header-wrapper .header-container .user-profile .user-info .box .change-profile {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 6px;
          background-color: #eee; }
          .header-wrapper .header-container .user-profile .user-info .box .change-profile .left-slide .avatar {
            width: 50px; }
          .header-wrapper .header-container .user-profile .user-info .box .change-profile .right-slide p {
            font-size: 14px; }
        .header-wrapper .header-container .user-profile .user-info .box .store-utils,
        .header-wrapper .header-container .user-profile .user-info .box .account-utils {
          margin-top: 15px;
          text-align: left; }
          .header-wrapper .header-container .user-profile .user-info .box .store-utils > h3,
          .header-wrapper .header-container .user-profile .user-info .box .account-utils > h3 {
            font-weight: 500;
            font-size: 15px; }
          .header-wrapper .header-container .user-profile .user-info .box .store-utils > ul,
          .header-wrapper .header-container .user-profile .user-info .box .account-utils > ul {
            border-radius: 10px;
            background-color: #eee;
            list-style-type: none; }
            .header-wrapper .header-container .user-profile .user-info .box .store-utils > ul > li > a,
            .header-wrapper .header-container .user-profile .user-info .box .account-utils > ul > li > a {
              height: 46px;
              display: flex;
              align-items: center;
              text-decoration: none;
              color: #333;
              gap: 10px;
              font-size: 15px;
              border-radius: 10px;
              padding-inline: 10px; }
              .header-wrapper .header-container .user-profile .user-info .box .store-utils > ul > li > a img,
              .header-wrapper .header-container .user-profile .user-info .box .account-utils > ul > li > a img {
                width: 24px;
                aspect-ratio: 1/1; }
              .header-wrapper .header-container .user-profile .user-info .box .store-utils > ul > li > a:hover,
              .header-wrapper .header-container .user-profile .user-info .box .account-utils > ul > li > a:hover {
                background-color: #ddd; }

@font-face {
  .header-wrapper {
    font-family: Roboto;
    font-weight: 300;
    src: url("../../../assets/fonts/Roboto-Thin.ttf"); } }

@font-face {
  .header-wrapper {
    font-family: Roboto;
    font-weight: 400;
    src: url("../../../assets/fonts/Roboto-Regular.ttf"); } }

@font-face {
  .header-wrapper {
    font-family: Roboto;
    font-weight: 500;
    src: url("../../../assets/fonts/Roboto-Medium.ttf"); } }

@font-face {
  .header-wrapper {
    font-family: Roboto;
    font-weight: 700;
    src: url("../../../assets/fonts/Roboto-Bold.ttf"); } }

@font-face {
  .header-wrapper {
    font-family: Roboto;
    font-weight: 900;
    src: url("../../../assets/fonts/Roboto-Black.ttf"); } }
  .header-wrapper * {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  .header-wrapper body {
    font-family: Roboto, sans-serif; }
  .header-wrapper *::-webkit-scrollbar {
    width: 10px;
    height: 6px; }
  .header-wrapper *::-webkit-scrollbar-track {
    background-color: transparent; }
  .header-wrapper *::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent; }
  .header-wrapper *::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf; }
  .header-wrapper #toggle-visible-auth-box:checked ~ .authenticate-ctn {
    pointer-events: unset; }
    .header-wrapper #toggle-visible-auth-box:checked ~ .authenticate-ctn .background {
      opacity: 1; }
    .header-wrapper #toggle-visible-auth-box:checked ~ .authenticate-ctn .authenticate-box {
      transform: translate(-50%, -50%);
      opacity: 1; }
  .header-wrapper #toggle-register-auth-box:checked ~ .authenticate-ctn .authenticate-box .box__body .form-ctn.login {
    display: none; }
  .header-wrapper #toggle-register-auth-box:checked ~ .authenticate-ctn .authenticate-box .box__body .form-ctn.register {
    display: flex; }
  .header-wrapper .authenticate-ctn {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none; }
    .header-wrapper .authenticate-ctn .background {
      width: 100%;
      height: 100%;
      position: absolute;
      backdrop-filter: blur(8px);
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
      opacity: 0;
      transition: all ease 400ms; }
    .header-wrapper .authenticate-ctn .authenticate-box {
      max-width: 100vw;
      max-height: 100vh;
      width: 1000px;
      height: 650px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%) scale(0.7);
      opacity: 0;
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      z-index: 2;
      overflow-y: auto;
      transition: all ease 400ms; }
      .header-wrapper .authenticate-ctn .authenticate-box .box__header {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 5px; }
        .header-wrapper .authenticate-ctn .authenticate-box .box__header .close-button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          transition: all ease 300ms; }
          .header-wrapper .authenticate-ctn .authenticate-box .box__header .close-button:hover {
            cursor: pointer;
            background-color: #eee; }
          .header-wrapper .authenticate-ctn .authenticate-box .box__header .close-button i {
            margin: auto; }
      .header-wrapper .authenticate-ctn .authenticate-box .box__body {
        height: calc(100% - 50px);
        display: flex; }
        .header-wrapper .authenticate-ctn .authenticate-box .box__body .banner-ctn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 60%; }
          .header-wrapper .authenticate-ctn .authenticate-box .box__body .banner-ctn > img {
            width: 100%; }
          .header-wrapper .authenticate-ctn .authenticate-box .box__body .banner-ctn h4 {
            background: -webkit-linear-gradient(180deg, #006bb3, #0099ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            top: 10px;
            font-size: 24px;
            text-align: center; }
        .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper {
          width: 40%;
          height: 100%;
          overflow-y: auto;
          padding-right: 30px;
          display: flex;
          flex-direction: column;
          padding-bottom: 20px; }
          .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            margin-block: auto; }
            .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn.register {
              display: none; }
            .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .title {
              font-size: 28px;
              text-align: center;
              color: #0099ff;
              margin-bottom: 10px; }
            .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * {
              margin-top: 34px; }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > *.error .input-wrapper input {
                color: red;
                border-color: red !important; }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > *.error .input-wrapper .placeholder {
                color: red; }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > *.error .error-message {
                max-height: 20px;
                opacity: 1; }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper {
                position: relative; }
                .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper .placeholder {
                  font-size: 16px;
                  color: #444;
                  position: absolute;
                  left: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                  pointer-events: none;
                  transition: all ease 300ms; }
                .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input {
                  width: 100%;
                  height: 50px;
                  border-radius: 6px;
                  border: 2px solid #ccc;
                  padding-inline: 10px;
                  font-size: 15px;
                  outline: none;
                  transition: all ease 300ms; }
                  .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:-webkit-autofill, .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:-webkit-autofill:hover, .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:-webkit-autofill:focus, .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px white inset !important; }
                  .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:not(:placeholder-shown), .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:focus {
                    border-color: #0099ff; }
                    .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:not(:placeholder-shown) + .placeholder, .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .input-wrapper input:focus + .placeholder {
                      top: 0;
                      transform: translateY(calc(-100% - 5px)); }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .input-ctn > * .error-message {
                max-height: 0;
                font-size: 14px;
                margin-top: 5px;
                opacity: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                transition: all ease 300ms;
                color: red; }
            .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .submit-button,
            .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .register-button,
            .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .login-button {
              border: 2px solid #0099ff;
              height: 50px;
              margin-top: 20px;
              border-radius: 6px;
              transition: all ease 300ms;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #0099ff;
              text-decoration: none; }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .submit-button p,
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .register-button p,
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .login-button p {
                color: #ffffff;
                font-size: 16px;
                font-weight: 600; }
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .submit-button:hover,
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .register-button:hover,
              .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .login-button:hover {
                cursor: pointer;
                background-color: #ffffff; }
                .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .submit-button:hover p,
                .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .register-button:hover p,
                .header-wrapper .authenticate-ctn .authenticate-box .box__body .form-wrapper .form-ctn .login-button:hover p {
                  color: #0099ff; }
