@import "../_package/index.scss";

@mixin openSearchBox {
	max-height: 1000px;
	opacity: 1;
}

.center-slide {
	flex: 1;
	align-self: flex-start;

	@import "./search-bar";

	@import "./category-list";
}
