@import "../_package/index.scss";

.logo-container {
	width: 200px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 24px;
	font-weight: 900;
	background: -webkit-linear-gradient(
		180deg,
		$primaryColorBlack,
		$primaryColor
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
