@mixin openSearchBox {
	max-height: 1000px;
	opacity: 1;
}

.search-bar {
	margin-top: 10px;

	.input-ctn {
		position: relative;

		input {
			width: 100%;
			height: $headerSearchBarHeight - 10px;
			font-size: 14px;
			border-radius: 6px;
			border: 2px solid #ddd;
			padding-inline: 10px;
			outline: none;
			transition: border ease 300ms;

			&:focus {
				border-color: $primaryColor;

				& ~ .search-box {
					@include openSearchBox();
				}
			}
		}

		.submit-button {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			background-color: transparent;
			border: none;

			.search-icon {
				font-size: 12px;
				color: #555;
			}
		}

		.search-box {
			max-height: 0;
			width: 100%;
			background-color: $whiteColor;
			border-radius: 6px;
			position: absolute;
			top: calc(100% + 10px);
			transition: all ease 500ms;
			opacity: 0;
			box-shadow: 0 0 10px 0 rgba(#000, 0.2);
			overflow: hidden;

			.search-products,
			.viewed-products {
				margin-bottom: 10px;

				> span {
					padding: 15px;
					display: block;
				}

				ul {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					gap: 10px;
					padding-inline: 20px;
					list-style-type: none;

					li {
						width: calc(20% - 8px);

						a {
							height: 124px;
							display: flex;
							flex-direction: column;
							align-items: center;
							text-decoration: none;
							color: unset;
							padding: 8px;
							transition: all ease 300ms;
							border-radius: 8px;

							&:hover {
								cursor: pointer;
								box-shadow: 0 0 10px 0 rgba(#000, 0.15);
							}

							img {
								height: 70px;
								object-fit: contain;
							}

							h4 {
								margin-top: 10px;
								text-align: center;
								font-size: 14px;
								font-weight: 500;
								line-height: 1;
								overflow: hidden;
								display: -webkit-box;
								-webkit-line-clamp: 2; /* number of lines to show */
								-webkit-box-orient: vertical;
							}
						}
					}
				}
			}

			.history {
				.label-ctn {
					padding: 10px 20px;
					color: $whiteColor;
					font-size: 13px;
					background-color: $primaryColor;

					i {
						padding-right: 4px;
					}
				}

				ul {
					padding-block: 5px;
					cursor: pointer;

					li {
						font-size: 15px;
						font-family: Roboto;
						line-height: 30px;
						display: block;
						padding: 3px 20px;

						> a {
							color: unset;
							text-decoration: none;
						}

						&:hover {
							background-color: #eee;
						}

						p {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
}
