@import "../_package/index.scss";

.product-list-container {
  $sidebarSeparate: 15px;
  $sidebarWidth: 320px;

  min-height: calc(100vh - #{$headerHeight});
  display: flex;

  > .sidebar {
    width: $sidebarWidth;
    height: calc(100vh - #{$headerHeight} - #{$sidebarSeparate * 2});
    position: fixed;
    top: $headerHeight + $sidebarSeparate;
    left: calc((100vw - #{$layoutWidth}) / 2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
    background-color: $whiteColor;
  }

  > .content {
    width: 100%;
    padding-left: $sidebarWidth + $sidebarSeparate + 10px;

    .query-content {
    }

    .tool-bar {
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      list-style: none;
      margin-top: 30px;

      &-item {
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all ease 500ms;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
          cursor: pointer;

          .thumb img {
            transform: translateY(-10px);
          }
        }

        > a {
          text-decoration: none;
          color: unset;
        }

        .thumb {
          padding: 10px;
          border-radius: 10px;
          background-color: #eee;

          img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
            transition: all ease 500ms;
          }
        }

        .label {
          height: 40px;
          color: $textColor;
          font-size: 15px;
          line-height: 1.25;
          margin-top: 10px;
        }

        .cost {
          height: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .old {
            color: $textColor;
            font-size: 14px;
            font-weight: 400;
            text-decoration: line-through;
          }

          .current {
            color: $primaryColorBlack;
            font-size: 18px;
            font-weight: bold;
          }
        }

        .detail {
          height: 60px;
          margin-top: 10px;
          list-style: none;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          color: $textColor;

          li > {
            height: 20px;

            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
