@import "../_package/index.scss";

.container {
  width: $layoutWidth;
  max-width: 100vw;
  min-height: calc(100vh - #{$headerHeight});
  margin-inline: auto;
  display: block;
  margin-top: $headerHeight;
  padding-top: 10px;

  .body {
    z-index: 1;

    > section {
      &:not(:first-of-type) {
        margin-top: 60px;
      }

      > .title {
        font-size: 24px;
        font-weight: 500;
        color: #333;
      }

      > .title + * {
        margin-top: 10px;
      }
    }

    @import "./hero";
    @import "./category-slider";
    @import "./promotional-product";
    @import "./popular-product";
  }
}
