@import "../_package/index.scss";

.body {
  > section {
    &:not(:first-of-type) {
      margin-top: 60px;
    }

    > .title {
      font-size: 24px;
      font-weight: 500;
      color: #333;
    }

    > .title + * {
      margin-top: 10px;
    }
  }

  @import "./hero";
  @import "./category-slider";
  @import "./popular-product";
  @import "./promotional-product";
}
