@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../../../assets/fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../../../assets/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../../../assets/fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url("../../../assets/fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../../../assets/fonts/Roboto-Black.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif; }

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 10px;
  height: 6px; }

*::-webkit-scrollbar-track {
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent; }

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf; }

.product-list-container {
  min-height: calc(100vh - 90px);
  display: flex; }
  .product-list-container > .sidebar {
    width: 320px;
    height: calc(100vh - 90px - 30px);
    position: fixed;
    top: 105px;
    left: calc((100vw - 1200px) / 2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
    background-color: #ffffff; }
  .product-list-container > .content {
    width: 100%;
    padding-left: 345px; }
    .product-list-container > .content .product-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      list-style: none;
      margin-top: 30px; }
      .product-list-container > .content .product-list-item {
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: all ease 500ms; }
        .product-list-container > .content .product-list-item:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
          cursor: pointer; }
          .product-list-container > .content .product-list-item:hover .thumb img {
            transform: translateY(-10px); }
        .product-list-container > .content .product-list-item > a {
          text-decoration: none;
          color: unset; }
        .product-list-container > .content .product-list-item .thumb {
          padding: 10px;
          border-radius: 10px;
          background-color: #eee; }
          .product-list-container > .content .product-list-item .thumb img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
            transition: all ease 500ms; }
        .product-list-container > .content .product-list-item .label {
          height: 40px;
          color: #333;
          font-size: 15px;
          line-height: 1.25;
          margin-top: 10px; }
        .product-list-container > .content .product-list-item .cost {
          height: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .product-list-container > .content .product-list-item .cost .old {
            color: #333;
            font-size: 14px;
            font-weight: 400;
            text-decoration: line-through; }
          .product-list-container > .content .product-list-item .cost .current {
            color: #006bb3;
            font-size: 18px;
            font-weight: bold; }
        .product-list-container > .content .product-list-item .detail {
          height: 80px;
          margin-top: 10px;
          list-style: none;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          color: #333; }
          .product-list-container > .content .product-list-item .detail li > {
            height: 20px; }
            .product-list-container > .content .product-list-item .detail li > span {
              font-size: 13px; }
