@import './fonts';
@import './reset';

// Variables
// Size
$layoutWidth: 1200px;
$headerHeight: 90px;
$headerSearchBarHeight: 50px;

// Color
$primaryColor: #0099ff;
$primaryColorBlack: #006bb3;
$whiteColor: #ffffff;
