@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url("../../../assets/fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../../../assets/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url("../../../assets/fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url("../../../assets/fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url("../../../assets/fonts/Roboto-Black.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif; }

.container {
  width: 1200px;
  max-width: 100vw;
  min-height: calc(100vh - 90px);
  margin-inline: auto;
  display: block;
  margin-top: 90px;
  padding-top: 10px; }
  .container .body {
    z-index: 1; }
    .container .body > section:not(:first-child) {
      margin-top: 50px; }
    .container .body > section > .title {
      font-size: 24px;
      font-weight: 500;
      color: #333; }
    .container .body .hero-ctn .image-slide-ctn {
      width: 100%;
      height: 0px;
      position: relative;
      padding-bottom: calc(100% / 3);
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;
      z-index: 0; }
      .container .body .hero-ctn .image-slide-ctn .image-list {
        position: absolute;
        inset: 0;
        white-space: nowrap;
        transition: all ease 700ms;
        display: flex;
        align-items: center;
        list-style: none; }
        .container .body .hero-ctn .image-slide-ctn .image-list > li {
          width: 100%;
          height: 100%;
          flex-shrink: 0; }
          .container .body .hero-ctn .image-slide-ctn .image-list > li img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; }
      .container .body .hero-ctn .image-slide-ctn .progress-bar {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 15px;
        padding: 6px; }
        .container .body .hero-ctn .image-slide-ctn .progress-bar .dot {
          width: 12px;
          height: 12px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          cursor: pointer; }
          .container .body .hero-ctn .image-slide-ctn .progress-bar .dot.active {
            background-color: #0099ff; }
      .container .body .hero-ctn .image-slide-ctn .prev-button,
      .container .body .hero-ctn .image-slide-ctn .next-button {
        width: 60px;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #000;
        border: none;
        opacity: 0.1;
        z-index: 2;
        transition: all ease 300ms;
        color: #ffffff;
        font-size: 30px; }
        .container .body .hero-ctn .image-slide-ctn .prev-button:hover,
        .container .body .hero-ctn .image-slide-ctn .next-button:hover {
          cursor: pointer;
          opacity: 0.6; }
      .container .body .hero-ctn .image-slide-ctn .prev-button {
        left: 0; }
      .container .body .hero-ctn .image-slide-ctn .next-button {
        right: 0; }
    .container .body .category-slider .category-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 100px);
      gap: 20px;
      list-style: none;
      margin-top: 10px; }
      .container .body .category-slider .category-list__item {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding-inline: 30px;
        transition: box-shadow ease 300ms; }
        .container .body .category-slider .category-list__item:hover {
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); }
          .container .body .category-slider .category-list__item:hover > a {
            transform: translateX(-6px); }
        .container .body .category-slider .category-list__item > a {
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 30px;
          color: #006bb3;
          font-size: 18px;
          transition: transform ease 300ms; }
          .container .body .category-slider .category-list__item > a > i {
            font-size: 1.6em; }
